#upload {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #7fafd4;
}

#upload-form {
    width: 50%;
    height: 70%;
    margin-left: 20%;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    /* background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #7fafd4; */
}

#upload-form input, #upload-form select {
    margin-top: 10px;
}

#upload-form button {
    margin-top: 10px;
    margin-left: 37%;
    width: 100px;
    height: 30px;
}

#upload-result {
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #7fafd4;
    display: none;
}

.preview-btn, .download-btn, .delete-btn {
    margin-top: 10px;
    width: 40px;
    height: 20px;
}