
#choose-course {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#choose-course label {
    margin-right: 1%;
}

#choose-course input {
    margin-right: 9%;
    font-size: 14px;
}

#choose-course button {
    margin-right: 4%;
    height: 25px;
    width: 60px;
}

.show-more {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: #6ea3cc;
    width: fit-content;
}

.show-more:hover {
    color: #7fafd4;
    cursor: pointer;
}