/* table.css -- CSS for the table */
table {
    border-collapse: collapse;
    width: 96%;
    margin: 20px;
    margin-right: 4%;
}

th, td {
    border: 1px solid #7fafd4;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #7fafd4;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f0f0f0;
}

table button {
    background-color: #7fafd4;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 2px;
    margin: 2px;
}